# Arquivos compilados
*.class

# Logs
*.log

# Diretórios de build
target/
build/
out/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
./out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*

# Arquivos temporários
*.tmp
*.swp